.search_filter {
    flex: 0 1 74%;
    align-self: end;
    position: relative;
}

.search_filter input {
    padding: 6px 12px 6px 25px;
}



.search_filter::after{
    content:url('../../assets/images/search.png');
    position:absolute;
    left:6px;
    top:10px;
  }