

.filmList {
    border-right: 0.5px solid #ccc;
    border-top: 0.5px solid #ccc;
    margin-top: 20px;
    flex: 0 1 50%;
}

.film {
    border-bottom: 0.5px solid #ccc;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.release_date {
    margin-left: auto;
    color: #928484;
}

.filmList .active {
    background-color: rgb(204 204 204 / 56%);
}

@media only screen and (max-width: 600px) {
    .filmList {
        flex: 0 1 100%;
    }
}